@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Home Page";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h1>Dashboard</h1>
    </div>
    <div class="card-body">
        <div id="jml_gender"></div>
    </div>
</div>


<div class="card card-primary card-outline">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div id="jml_Karyawan"></div>
    </div>
</div>
<script src="~/js/site.js"></script>

